html {
  background-color: #222;
}
body {
  display: flex;
  /*justify-content: center;*/
}
html,body { margin: 0; padding: 0;}

.blocks {
  margin-top: .5rem;
  display: flex;
  flex-direction: column;
}

.block {
  width: 5rem;
  height: 5rem;
  margin: .5rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.block--red {
  background-color: rgb(233, 80, 80);
}

.block--blue {
  background-color: rgb(91, 91, 235);
}

.block--green {
  background-color: rgb(75, 223, 75);
}

.block--pink {
  background-color: rgb(248, 157, 172);
}

.block--gray {
  background-color: rgb(87, 87, 87);
}